stages:
  - build
  - test
  - release
  - deploy

variables:
  APPLICATION_NAME: image-manager
  CONTAINER_IMAGE: ${DOCKER_HUB_USERNAME}/${APPLICATION_NAME}
  CONTAINER_IMAGE_TEST: ${CONTAINER_IMAGE}:test
  CONTAINER_IMAGE_LATEST: ${CONTAINER_IMAGE}:latest
  CONTAINER_IMAGE_TAGGED: ${CONTAINER_IMAGE}:${CI_COMMIT_TAG}

image: moreillon/ci-dind
services:
  - name: docker:24.0.7-dind

build:
  stage: build
  only:
    - tags
  before_script:
    - echo "${DOCKER_HUB_PASSWORD}" | docker login --username ${DOCKER_HUB_USERNAME} --password-stdin
  script:
    - docker build -t ${CONTAINER_IMAGE_TEST} .
    - docker push ${CONTAINER_IMAGE_TEST}

test:
  stage: test
  only:
    - tags
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  before_script:
    - echo "${DOCKER_HUB_PASSWORD}" | docker login --username ${DOCKER_HUB_USERNAME} --password-stdin
    # Creating network for TDD
    - docker network create tdd
    # Creating DB container in network
    - >
      docker run
      -d
      --rm
      --name tdd-db
      --network tdd
      --hostname tdd-db
      mongo:4
    # User manager
    - >
      docker run
      -d
      --rm
      --name tdd-um
      --network tdd
      --hostname tdd-um
      -e MONGODB_HOST=tdd-db
      -e JWT_SECRET=keyboardcat
      moreillon/user-manager-mongoose:v5.2.5
    - sleep 120 # Wait for containers to be available

  script:
    - >
      docker run
      --rm
      --name tdd
      --network tdd
      -e MONGODB_HOST=tdd-db
      -e IDENTIFICATION_URL=http://tdd-um/users/self
      -e LOGIN_URL=http://tdd-um/auth/login
      -e TEST_USER_USERNAME=admin
      -e TEST_USER_PASSWORD=admin
      -e S3_ENDPOINT=$S3_ENDPOINT
      -e S3_ACCESS_KEY_ID=$S3_ACCESS_KEY_ID
      -e S3_SECRET_ACCESS_KEY=$S3_SECRET_ACCESS_KEY
      -e S3_BUCKET=$S3_TEST_BUCKET
      -e S3_PORT=443
      -e S3_USE_SSL=yes
      ${CONTAINER_IMAGE_TEST}
      npm run coverage

release:
  stage: release
  only:
    - tags
  before_script:
    - echo "${DOCKER_HUB_PASSWORD}" | docker login --username ${DOCKER_HUB_USERNAME} --password-stdin
  script:
    - docker pull ${CONTAINER_IMAGE_TEST}
    - docker tag ${CONTAINER_IMAGE_TEST} ${CONTAINER_IMAGE_TAGGED}
    - docker tag ${CONTAINER_IMAGE_TEST} ${CONTAINER_IMAGE_LATEST}
    - docker push ${CONTAINER_IMAGE_TAGGED}
    - docker push ${CONTAINER_IMAGE_LATEST}

deploy:
  stage: deploy
  only:
    - tags
  before_script:
    - kubectl config use-context moreillon_ci/moreillon_k8s/kubernetes-agent:cloud
  script:
    - envsubst < kubernetes_manifest.yml | kubectl apply -n ${KUBERNETES_NAMESPACE} -f -
